<h1>Listing notices</h1>

<table>
  <tr>
    <th>Detail</th>
    <th>Type</th>
    <th>Log</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%= notice.detail %></td>
    <td><%= notice.type %></td>
    <td><%= notice.log %></td>
    <td><%= link_to 'Show', [@log,notice] %></td>
    <td><%= link_to 'Edit', edit_log_notice_path(@log, notice) %></td>
    <td><%= link_to 'Destroy', [@log,notice], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notice', new_log_notice_path %>
