<p id="notice"><%= notice %></p>

<p>
  <b>Detail:</b>
  <%= @notice.detail %>
</p>

<p>
  <b>Type:</b>
  <%= @notice.type %>
</p>

<p>
  <b>Log:</b>
  <%= @notice.log %>
</p>


<%= link_to 'Edit', edit_log_notice_path(@log,@notice) %> |
<%= link_to 'Back', log_notices_path %>
