<p id="notice"><%= notice %></p>

<p>
  <b>IP:</b>
  <%= @request.ip %>
</p>

<p>
  <b>Type:</b>
  <%= @request.type %>
</p>

<p>
  <b>Header:</b>
  <%= @request.header %>
</p>

<p>
  <b>Content:</b>
  <%= @request.content %>
</p>

<p>
  <b>Error code:</b>
  <%= @request.error_code %>
</p>

<p>
  <b>Log:</b>
  <%= @request.log_id %>
</p>


<%= link_to 'Edit', edit_log_request_path(@log, @request) %> |
<%= link_to 'Back', log_requests_path %>
